:root {
    --primary-color: #ffffff;
    --secondary-color: #6c757d;
}

body {
    /* font-family sets the text style. If the first font isn't available, it tries the next one. */
    font-family: "VT323", monospace;
    font-weight: 550;
    font-style: normal;
    background-color: #94827A;
}

.hero {
    background-image: url("./banner.jpg");
    background-size: cover;
}

#hero-title {
    text-shadow: 2px 2px #000000;
    font-size: 80px;
}

#hero-slogan {
    text-shadow: 1px 1px #000000;
    font-size: 30px;
}

#plant {
    background-image: url("./hackathon-desk.jpg");
    background-size: cover;
}

/* footer styles apply only to the <footer> element */
footer {
    margin-top: auto;
}

#image {
    width: 100px;
    height: auto;
    image-rendering: pixelated;
    transition: opacity 0.5s ease-in-out;
}

#plant-container {
    text-align: center;
    padding: 20px;
}

#timer-display {
    text-shadow: 1px 1px #000000;
    font-size: 30px;
    color:#ffffff;
}