:root {
    --primary-color: #0d6efd;
    --secondary-color: #6c757d;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    margin-top: auto;
}

#plant-image {
    width: 100px;
    height: auto;
    image-rendering: pixelated;
    transition: opacity 0.5s ease-in-out;
}

#plant-container {
    text-align: center;
    padding: 20px;
}